{% extends 'base/base.html' %}
{% load static %}

{% block structured_data %}
{% if structured_data %}
    {% if structured_data.collection %}
    <!-- Category CollectionPage Structured Data -->
    <script type="application/ld+json">
    {{ structured_data.collection|safe }}
    </script>
    {% endif %}
    
    {% if structured_data.breadcrumb %}
    <!-- Category Breadcrumb Structured Data -->
    <script type="application/ld+json">
    {{ structured_data.breadcrumb|safe }}
    </script>
    {% endif %}
    
    {% if structured_data.author %}
    <!-- Author Person Structured Data -->
    <script type="application/ld+json">
    {{ structured_data.author|safe }}
    </script>
    {% endif %}
{% elif list_structured_data %}
<!-- Blog List Structured Data (ItemList) -->
<script type="application/ld+json">
{{ list_structured_data|safe }}
</script>
{% else %}
{{ block.super }}
{% endif %}
{% endblock %}

{% block reclama_1 %}
{% include "reclama/1.html"  %}
{% endblock reclama_1  %}

{% block meny %}
{% include "meny/sidibar-1.html" %}
{% endblock %}

{% block straniza %}
{% include "blog/1.html" %}
{% endblock %}