{% load static %}

<!--ПРАЙС-->
<div class="col-lg-4">
    <div class="about-info">
        <h3 class="mb-20">Прайс на работы</h3>
        <ul>
            <li><span class="title">Landing </span><span class="value">от 25 000 руб.</span></li>
            <li><span class="title">Сайт многостраничник</span><span class="value">от 50 000 руб.</span></li>
            <li><span class="title">Сайт с Админкой</span><span class="value">от 75 000 руб.</span></li>
            <li><span class="title">Интернет-Магазин</span><span class="value">от 100 000 руб.</span></li>
            <li><span class="title">Telegram-бот</span><span class="value">от 25 000 руб.</span></li>
            <li><span class="title">Telegram-Магазин</span><span class="value">от 50 000 руб.</span></li>
            <li><span class="title">Telegram-бот с Админкой </span><span class="value">от 75 000 руб.</span></li>
        </ul>
        <div class="resume-button mt-30">
            <a class="btn-main" href="#">Скачать полный прайс</a>
        </div>
    </div>
</div>
  